.about-section {
    width: 60%;
    margin: auto;
    margin-top: 30px;
    font-size: 24px;
}

.bio-section {
    width: 85%;
    margin: auto;
}
.card {
    margin: 30px;
}

.card-img-top {
    width: 100px;
    height: 400px;
}

.about-header, .bio-header {
    text-align: center;
    padding-bottom: 15px;
}

.bio-section {
    padding-top: 75px;
    padding-bottom: 50px;
}

.about-paragraph {
    width: 700px;
}

.mission-section {
    width: 60%;
    margin: auto;
    margin-top: 80px;
    font-size: 24px;
}

.rounded-circle {
    height: 300px;
    width: 300px;
}

.bio-description {
    font-size: 18px;
}