.about-section {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    font-size: 24px;
}

.bio-section {
    width: 85%;
    margin: auto;
}
.card {
    margin: 30px;
}

.card-img-top {
    width: 100px;
    height: 400px;
}

.big-owl {
  width: 100px;
  height: 100px;
}

.about-header, .bio-header {
  font-size: 100px;
    text-align: center;
    padding-bottom: 15px;
}

.bio-section {
    padding-top: 75px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    width: 100%;
}

.about-paragraph {
  font-size: 30px;
  text-align: center;
  width: 1000px;
}

ul {
  list-style-image: url('./img/owl.png');
}

.mission-section {
    width: 60%;
    margin: auto;
    margin-top: 80px;
    font-size: 24px;
}

.name {
  font-size: 35px;
}

.rounded-circle {
    height: 250px;
    width: 250px;
}

.about-page {
  height: 1080px;
}

.bio-description {
    font-size: 24px;
}
