.about-section {
    width: 60%;
    margin: auto;
    margin-top: 30px;
    font-size: 24px;
}

.bio-section {
    width: 85%;
    margin: auto;
}
.card {
    margin: 30px;
}

.card-img-top {
    width: 100px;
    height: 400px;
}

.about-header, .bio-header {
    text-align: center;
    padding-bottom: 40px;
}

.bio-section {
    padding-top: 75px;
}

.about-paragraph {
    width: 700px;
}