
.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
  }


.header-div .navbar a.nav-link {
  color:white;
  margin-right: 10px;
}

.site-title {
  text-align: center;
}

a {
  color: white!important;
}

.nav {
  margin-left: 20px;
}

.nav-style {
  background-color:rgba(0, 0, 0, 0.5);
  padding-right: 20px;
}
