.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-intro {
  font-size: large;
}

.landing-title {
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
  font-size: 130px;
}

.page {
  height: 1200px;
}

.centered {
  margin-top: 60px;
  font-size: 35px;
  text-align: center;
}

.last-page {
  height: 890px;
}

.carousel-inner {
  max-height: 80% !important;
  width: 80% !important;
  margin: 0 auto;
}
.w-100 {
  max-height: 500px !important;
}
.carousel-caption p {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 120px;
}
