.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-intro {
  font-size: large;
}

.landing-title {
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
}

.carousel-inner {
  max-height: 20% !important;
  width: 80% !important;
  margin: 0 auto;
}
.w-100 {
  max-height: 500px !important;
}
.carousel-caption p {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 120px;
}