button {
  color: black;
}

.contact-form {
    color: white;
    margin: 0 auto;
    width: 50%;
    padding-bottom: 80px;
    padding-top: 100px;
}

.contact-title {
    font-size: 80px;
    text-align: center;
    margin-bottom: 10px;
}

form {
  font-size: 50px;
  margin-bottom: 20px;
}

#mail {
  height: 100px;
  margin-right: 35px;
  width: 100px;
}
