.screenshots-div {
    margin: 0 auto;
    padding-top: 100px;
    width: 85%;
}
.screenshots-title {
    color: white;
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
}
.col {
    text-align: center;
}
.row {
    margin-bottom: 60px;
}
img.rounded {
    height: 350px;
    width: 400px;
}

/* .characters {
    transform: rotate(270deg);
} */
